!!!
%html
  %head
  .notification
    You made a chatroom!
    -# this notification will be made to appear with if statement in the future
  .wrapper
    = render "sidebar"
    = render "chat"
  %body
