.groups
  - @users_group.each do |i|
    .group
      = link_to group_messages_path(current_user.groups.find_by(name: i.name)) do
        -# link to chatroom will be changed in the future
        .group__name
          = i.name
        .group__message
          = i.show_last_message
        -# group__name & __message will be dynamically generated
