.messages
  .message
    .upper-message
      .upper-message__username
        Dankmeme
      .upper-message__date
        2020/01/01 00:00
    -# upper-messages will be dynamically generated
    .lower-message
      %p{class:"lower-message__content"}
        Show me da wey
