.sidebar
  .header
    %h3{class: "header__name"} Username
    -# username will be dynamically generated
    %ul{class: "header__list"}
      %li{class: "list"}
        = link_to new_group_path do 
          -# replace button links in the future
          %i{class: "fa fa-pencil-square-o icon"}
      %li{class: "list"}
        = link_to edit_user_path(current_user) do
          %i{class: "fa fa-cog icon"}
  = render "groups/group"
