.chat-group-form__field--left
  = label :members, "チャットメンバーを追加", class: "chat-group-form__label"
.chat-group-form__field--right
  .chat-group-form__search.clearfix
    = text_field :chat, :members, id: "user-search-field", class: "chat-group-form__input", placeholder: "追加したいユーザー名を入力してください"
  #user-search-result
